<h1>ようこそ！Bookersへ</h1>
<p>こちらのページでは様々な本のレビューを投稿することができます。</p>

<br><%= link_to "login", new_user_session_path, class:"sign_in" %></br>
<br><%= link_to "Sign up", new_user_registration_path, class:"sign_up" %></br>
